// MIXINS
@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 1.33dppx) {
    @content;
  }
}
@mixin clearfix {
  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}