// MIXINS
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($values) {
  -webkit-box-shadow: $values;
  box-shadow: $values;
}
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -o-transition: $values;
  transition: $values;
}
@mixin transform($values) {
  -webkit-transform: $values;
  -moz-transform: $values;
  -ms-transform: $values;
  -o-transform: $values;
  transform: $values;
}
@mixin clearfix {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
@mixin prevent-user-select {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@mixin perspective($values) {
  -webkit-perspective: $values;
  perspective: $values;
}
@mixin perspective-origin($values) {
  -webkit-perspective-origin: $values;
  perspective-origin: $values;
}
@mixin transform-origin($values) {
  -webkit-transform-origin: $values;
  transform-origin: $values;
}
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $fromColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
  background-image: -moz-linear-gradient(top, $fromColor, $toColor);
  background-image: -ms-linear-gradient(top, $fromColor, $toColor);
  background-image: -o-linear-gradient(top, $fromColor, $toColor);
  background-image: linear-gradient(to bottom, $fromColor, $toColor);
  background-repeat: repeat-x;
  filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 1.33dppx) {
    @content;
  }
}
@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}
@mixin flex-flow($values) {
  -webkit-flex-flow: $values;
  flex-flow: $values;
}
@mixin flex($values) {
  -webkit-flex: $values;
  flex: $values;
}
@mixin order($values) {
  -webkit-order: $values;
  order: $values;
}

// REUSABLE STYLE FOR CUSTOM WIDGET STYLES
@mixin custom-iframe-style($main-color, $link-color, $button-color, $highlight-color, $neutral-p-grey, $neutral-navy) {
  header {
    .inner {
      background: $main-color;
    }
  }
  a {
    color: $link-color;
    &:hover {
      color: lighten($link-color, 5%);
    }
  }
  button,
  .button {
    background: $button-color;
    color: #FFF;
    &:hover {
      background: lighten($button-color, 5%);
      color: #FFF;
    }
    &.grey-border,
    &.grey-text,
    &.checkbox {
      background: #FFF;
      color: $neutral-p-grey;
    }
    &.grey-border {
      &:hover {
        background: #FFF;
        border-color: $link-color;
        color: $link-color;
      }
    }
    &.inverted {
      background: none;
      color: $neutral-p-grey;
      &:focus,
      &:hover {
        background: $button-color;
        color: #FFF;
      }
    }
    &.checkbox {
      color: $neutral-p-grey;
      background: none;
      &:focus,
      &:hover {
        color: $link-color;
      }
      &.no-hover {
        color: $neutral-p-grey;
      }
    }
    &.green-text {
      color: $link-color;
      background: none;
      &:focus,
      &:hover {
        color: lighten($link-color, 5%);
      }
    }
    &.grey-text {
      color: #9c9c9c;
      background: none;
      &:focus,
      &:hover {
        color: $link-color;
      }
    }
  }
  .field {
    input {
      &:focus {
        color: $highlight-color;
        border-color: $highlight-color;
      }
    }
    .errors {
      p,
      a {
        color: #FFF;
      }
    }
    .status {
      i.fa-check {
        background: #7EB764; // light green
      }
    }
  }
  .datepicker-dropdown table tr td span.active {
    background: $button-color !important;
    &:hover {
      background: lighten($button-color, 5%) !important;
    }
  }
  .hd-account-delete section .option button {
    color: $neutral-p-grey;
    &:hover {
      color: $link-color;
    }
  }
}