// VARIABLES
$font-stack: "Lato", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$hotdoc-green: #23a161;
$hotdoc-navy: #343b48;
$hotdoc-blue: #3d93d0;
$hotdoc-p-grey: #5d626d;
$hotdoc-bg-grey: #f7f7f7;
$hotdoc-red: #ff7f7f;