<div>
  <h2>{{product.name}}</h2>
  <img src="assets/img/{{product.img}}" width="313" height="313" alt="{{product.img-alt}}" />
  <ul>
    <li>
      <div class="label">Store value:</div>
      <div class="value">{{product.value}} EUR / piece</div>
      <div class="tooltip">?
        <div class="text">The average price one would find in retail stores.
          <div class="arrow"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="label">Your price:</div>
      <div class="value">Negotiable</div>
      <div class="tooltip">?
        <div class="text">The price at which you can order with us. This we base on quantity, tailoring, distance and relationship.
          <div class="arrow"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="label">Tailoring:</div>
      <div class="value">Yes</div>
      <div class="tooltip">?
        <div class="text">Wheter we can tailor the crystal shape, engravings and colours to your desires.
          <div class="arrow"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="label">Quality:</div>
      <div class="value">24% PbO certified</div>
      <div class="tooltip">?
        <div class="text">The amount of Lead Oxide (PbO) defines the quality and weight of crystal. Only high quality 24% PbO crystal or higher can have a round gold certification sticker on it.
          <div class="arrow"></div>
        </div>
      </div>
    </li>
  </ul>
  <p>See all models in our <a href="/pdf/Brenndel-Crystal-catalog.pdf" target="_blank" title="BrenndeL Crystal catalog">catalog</a>.</p>
</div>