<section id="crystal">
  <div class="inner">

    {{#each model.products as |product|}}
      {{product-item product=product}}
    {{/each}}

    <div>
      <h2>Novelty horn</h2>
      <img src="assets/img/brenndel-crystal-horn.jpg" width="313" height="313" alt="BrenndeL crystal horn" />
    </div>

    <div>
      <h2>Novelty car model</h2>
      <img src="assets/img/brenndel-crystal-ferrari.jpg" width="313" height="313" alt="BrenndeL crystal Ferrari" />
    </div>

    <div>
      <h2>Novelty hunter set</h2>
      <img src="assets/img/brenndel-crystal-hunter-set.jpg" width="313" height="313" alt="BrenndeL crystal hunter set" />
    </div>

    <div>
      <h2>Custom colours</h2>
      <img src="assets/img/brenndel-crystal-colours.jpg" width="313" height="313" alt="BrenndeL coloured crystal glass" />
    </div>

    <div>
      <h2>And much more ...</h2>
      <p>There are also plates, boxes, pots, beer mugs, candle sticks, baskets, name it. Virtually anything can be made in crystal. For inspiration, have a look at our <a href="/pdf/Brenndel-Crystal-catalog.pdf" target="_blank" title="BrenndeL Crystal catalog">catalog</a>.</p>
    </div>

  </div>
</section>