<section id="quality">
  <div class="inner">

    <div>
      <h2>GENUINE HAND-CUT CRYSTAL ONLY</h2>
      <img src="assets/img/brenndel-crystal-cutting.jpg" width="313" height="313" alt="crystal glass cutting" />
      <p>All BrenndeL's crystal glass is made, blown, cut and finished by hand. We take great pride in the 130 year long artisanal traditions and the over generations passed-on experience of our foundry.</p>
    </div>

    <div>
      <h2>ALWAYS HIGH-END 24% PbO QUALITY</h2>
      <img src="assets/img/brenndel-crystal-foundry.jpg" width="313" height="313" alt="molten crystal glass in foundry" />
      <p>Crystal is made with Lead Oxide (PbO) which makes the glass stronger and heavier for cutting and shaping. One can only call crystal of "high quality" if it contains at least 24% PbO. All of BrenndeL's crystal contains at least 24% PbO. We stand for quality and guarantee only the best possible finish.
        </p>
    </div>

    <div>
      <h2>CERTIFIED AS EXCLUSIVE CRYSTAL</h2>
      <img src="assets/img/brenndel-crystal-quality-label.jpg" width="313" height="313" alt="golden Brenndel Crystal logo" />
      <p>In the European Union, only the most exclusive high quality crystal can have a round golden sticker on it. Lower quality crystal can only use square and triangular stickers. All of BrenndeL's crystal items are certified "Exclusive Quality" and have a round golden sticker on the foot of the item.</p>
    </div>

    <div>
      <h3>How to recognize quality crystal?</h3>
      <h2>1. THICKNESS</h2>
      <p>It takes a great deal of experience for a glass blower to blow crystal very thin and consistent throughout. Check the thickness of the glass.</p>
    </div>

    <div>
      <h3>How to recognize quality crystal?</h3>
      <h2>3. SOFT EDGES</h2>
      <p>Examine the cuts on the crystal item. Normal glass has often sharp cuts, while crystal has smooth, rounded cuts.</p>
    </div>

    <div>
      <h3>How to recognize quality crystal?</h3>
      <h2>2. WEIGHT</h2>
      <p>High quality crystal contains at least 24% lead oxide (PbO), which is a fairly heavy and relatively expensive ingredient. Cheap crystal uses less than 24% and will therefor feel lighter than high quality crystal. You can weigh 2 glasses of roughly the same size to see which one is heaviest. This might be an indication of quality.</p>
    </div>

    <div>
      <h3>How to recognize quality crystal?</h3>
      <h2>4. CRYSTAL CLEAR</h2>
      <p>Hold the item up to the light. Glass typically has a yellow or green tint, while crystal is completely clear. Crystal also produces more of a colourful prism effect than glass.</p>
    </div>

    <div>
      <h3>How to recognize quality crystal?</h3>
      <h2>6. CERTIFICATION</h2>
      <p>Only high quality crystal of at least 24% PbO can have, by European law, a round golden sticker on it. Be wary of square or any other shape of stickers. All BrenndeL's crystal items are certified 24% PbO and you will always find our round gold sticker on the foot of the glass.</p>
    </div>

    <div>
      <h3>How to recognize quality crystal?</h3>
      <h2>5. SOUND</h2>
      <p>Tap the item and take note of the sound it makes. Glass usually has more of a dull thud, and crystal has more of a high-pitched chime.</p>
    </div>

  </div>
</section>