<section id="tailored">
  <div class="inner">

    <div>
      <h2>MAKE IT UNIQUE</h2>
      <img src="assets/img/brenndel-crystal-hunter-set.jpg" width="313" height="313" alt="BrenndeL crystal hunter set">
      <p>Why choose a crystal set from a store, when you can have one custom made and tailored to your own desires? Why not have unique set which cannot be bought anywhere else in the world? We can tailor crystal precisely to your ideas.</p>
    </div>

    <div>
      <h2>CHOSE ANY SHAPE</h2>
      <img src="assets/img/brenndel-crystal-ferrari.jpg" width="313" height="313" alt="BrenndeL crystal Ferrari">
      <p>To start with we have an extensive range of shapes of glasses, vases, plates, throphees, novelties and more to choose from. Once you have found the shape you like, our sculpters can add your personal twists to it. Have a look at <a href="">our range</a>.</p>
    </div>

    <div>
      <h2>ADD COLOURS</h2>
      <img src="assets/img/brenndel-crystal-colours.jpg" width="313" height="313" alt="BrenndeL coloured crystal glass" />
      <p>Almost any colour can be blended into the crystal glass. This is done by adding specific metals to the alloy. Adding cobalt for example results in blue shades. Adding gold results in reds and silver results into yellows, oranges and reds.</p>
    </div>

    <div>
      <h2>ENGRAVE YOUR OWN LOGO and MESSAGE</h2>
      <p>Using precision laser technology we can engrave any digital logo, shape or text on the surface of the glass. The laser makes microscopic shallow punctures onto the surface of the glass rendering it less transparant than the polished glass around it and thus your company logo, design or message becomes visible.</p>
    </div>

    <div>
      <h2>PERFECT BUSINESS GIFT</h2>
      <p>to show your business appreciation with your partners, a set with your logo or their logo is a perfect way to show your succesfull co operation and to celebrate future business.</p>
    </div>

    <div>
      <h2>success story:
        <br />WEDDING RINGS</h2>
      <p>In April 2013 BrenndeL tailored these champagne glasses for a wedding. Every guest received a box with 2 of these engraved glasses to remember their wedding with this exclusive gift.</p>
      <img src="assets/img/brenndel-crystal-wedding.jpg" width="313" height="313" alt="BrenndeL crystal champagne glass engraved with two wedding rings" />
    </div>

  </div>
</section>